.App {
  text-align: center;
}

.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.flexbox-container > div {
	width: 75%;
	padding: 10px;
}

#map {
  /* height: 100vh; */
  float: right;
  /* padding: 35%; */
}
#footer {
  width: 25%;
  height: 100%;
  color: azure;
  background-color: darkblue;
  text-align: left;
  font-family: "Arial Black", Gadget, sans-serif;
  margin: 0;
  float: left;
  padding-left: 5%;
}
#header{
  width: 100%;
  height: 15%;
  color: azure;
  background-color: darkblue;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif
}

#restaurants {
  height: 100vh;
  margin: 2%;
  display: table;
  color: azure;
  background-color: darkblue;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11pt;
  cursor: pointer;
}

#cuisines-select{
  color: darkblue;
  background-color: white;
  width: 80%;
}

p{
  margin: 1%;
}

h2{
  margin-top: 0;
  padding-top: 3%
}

button {
  margin-top: 7%;
  margin-right: 3%;
  display: table;
  color: azure;
  background-color: darkblue;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11pt;
  cursor: pointer;
}

html, body {
  height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 11pt;
  }
   #restaurants, button, p, #cuisines-select {
    font-size: 7pt;
  }
}
