.App {
  text-align: center;
}

#map {
  height: 70vh;
  /* padding: 20%; */
}

#header, #footer {
  height: 10vh;
  color: azure;
  background-color: darkblue;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif
}

#restaurants {
  color: azure;
  background-color: darkblue;
  font-family: "Arial Black", Gadget, sans-serif
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
